<div>
    <h1>Forms Sample</h1>
    <form  #theform="ngForm" (ngSubmit)="saveUser(); theform.reset()">
        <div class="input-control">
            <input name="username"
                    required 
                    minlength="5"
                    #username="ngModel"
                    [(ngModel)]="user.username" />
            <div *ngIf="username.errors?.required" class="validation-error">
                username is required!
            </div>
            <div *ngIf="username.errors?.minlength" class="validation-error">
                username must be at least 5 chars long
            </div>
        </div>

        <div class="input-control">
            <select id="role" name="role" [(ngModel)]="role"
                    #roleSelect="ngModel"
                    required>
                <option></option>
                <option *ngFor="let r of availableRoles" [value]="r">{{r}}</option>
            </select>

            <div *ngIf="roleSelect.errors?.required" class="validation-error">Role is required</div>
        </div>

        <div class="input-control">
            <input type="radio" [(ngModel)]="diet" name="diet"  
                    value="vegan">Vegan <br>

            <input type="radio" [(ngModel)]="diet" name="diet" 
                    value="vegetarian">Vegetarian<br>
        
            <input type="radio" [(ngModel)]="diet" name="diet"
                    value="fructarian">Fructarian<br>
            
            <input type="radio" [(ngModel)]="diet" name="diet" 
                    value="meatonly">Meat only<br>

            <input type="radio" [(ngModel)]="diet" name="diet" 
                    value="everything">Everything<br>

            <div>selected option: {{ diet }}</div>
        </div>

        <button type="submit" 
                [disabled]="!theform.form.valid">Save User</button>
    </form>
</div>